
<nav class="container-fluid d-flex justify-content-center align-items-center py-5">
  <div class="logo">
    <img src="../assets/logo.png" alt="Logo Taurus" class="img-fluid">
  </div>
</nav>
<div class="container">
  <h2 class="fw-bold text-center">Sigue los siguientes pasos para proyectar:</h2>

  <main class="row justify-content-center my-5 gap-3">
    <div class="card shadow pt-5 animate__animated animate__backInUp" style="width: 18rem;">
      <img src="../assets/comando.png" class="card-img-top" alt="Imagen Presionar Windows + K">
      <div class="card-body mt-5">
        <p class="card-text">1. Encender la TV <br>2. Presiona las teclas <span class="fw-bold"> Windows + K </span> de tu teclado al mismo tiempo. Se mostrará un menu en la parte inferior derecha.</p>
      </div>
    </div>
    <div class="card shadow animate__animated animate__backInUp" style="width: 18rem;">
      <img src="../assets/transmitir_enfocado.png" class="card-img-top" alt="Imagen Presionar Windows + K">
      <div class="card-body">
        <p class="card-text">3. Seleccionar Pantalla <span class="fw-bold">55" PHILIPS Roku TV</span>. <br>Una vez seleccionada solo queda esperar la conexión con la pantalla.</p>
      </div>
    </div>
    <div class="card shadow animate__animated animate__backInUp" style="width: 18rem;">
      <img src="../assets/desconectar_desenfoque.png" class="card-img-top" alt="Imagen Presionar Windows + K">
      <div class="card-body">
        <p class="card-text">4. Para detener la transmisión se tendra que volver a presionar las teclas <span class="fw-bold">Windows + k</span> y presionar en el boton de <span class="fw-bold">Desconectar</span> para finalizar la transmisión.</p>
      </div>
    </div>
  </main>

</div>